@model disneyapi.CharacterEntity

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CharacterEntity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CharacterId" class="control-label"></label>
                <input asp-for="CharacterId" class="form-control" />
                <span asp-validation-for="CharacterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterName" class="control-label"></label>
                <input asp-for="CharacterName" class="form-control" />
                <span asp-validation-for="CharacterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacetrAge" class="control-label"></label>
                <input asp-for="CharacetrAge" class="form-control" />
                <span asp-validation-for="CharacetrAge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterWeight" class="control-label"></label>
                <input asp-for="CharacterWeight" class="form-control" />
                <span asp-validation-for="CharacterWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CharacterHistory" class="control-label"></label>
                <input asp-for="CharacterHistory" class="form-control" />
                <span asp-validation-for="CharacterHistory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
